theme = GitHub Dark Default

font-family = Hack
{{- if eq .chezmoi.os "darwin" }}
font-family = Apple SD Gothic Neo
{{- else }}
font-family = Noto Sans CJK KR
{{- end }}
font-size = 15

cursor-style = block
